---
interface Props {
    url: string;
    image: string;
    title: string;
    desc: string;
}

const { url, image, title, desc } = Astro.props;
---
<li class="card">
    <a class="card__link" href={url} aria-label=`Visit ${title} page`>
        <div class="center">
            <img class="card__img" width="226" height="127" src={image} alt="thumbnail">
        </div>
        <h3 class="card__title">
            {title}
        </h3>
        <p class="card__txt">
            {desc}
        </p>
    </a>
</li>

<style>
    .card {
        list-style: none;
        display: flex;
        background-size: 400%;
        padding: 20px;
    }

    .card__link {
        width: 100%;
        text-decoration: none;
        line-height: 1.4;
        border-radius: 8px;
        color: white;
    }

    .card__title {
        margin: 0;
        font-family: var(--body);
        font-size: 1.5rem;
        font-weight: normal;
        text-align: center;
    }

    .card__txt {
        font-size: 1rem;
        line-height: 1.5;
        text-indent: 0;
        text-align: center;
        margin: 0.5rem 0 0;
    }

    .card__img { border-radius: 16px; }
    .card__link:hover { transform: scale(1.05); }

    :global(.light .card__title) { color: black; }
    :global(.light .card__txt) { color: black; }
</style>
