---
const model = "Glorious GMMK"
const switches = "Gateron Brown"
const layout = "Canary"
---
<section id="specs" class="flex">
    <img width="56" height="37" src="/icons/glorious.svg" alt="model"> <span class="flex column">Model <small class="gray">{model}</small></span><hr>
    <img width="22" height="34" class="invert-white" src="/icons/switch.svg" alt="switch"> <span class="flex column">Switch <small class="gray">{switches}</small></span><hr>
    <img width="44" height="32" class="invert-white" src="/icons/keyboard.svg" alt="layout"> <span class="flex column">Layout <small class="gray">{layout}</small></span>
</section>
<section id="details" class="flex" style="justify-content: space-between;">
    <section id="statistics">
        <h2>statistics</h2>
        <ul class="badge__list">
            <li>Passed <b><span id="passedElement" class="text-loader">0000</span></b> tests <span class="accent">✔</span></li>
            <li>Failed <b><span id="failedElement" class="text-loader">00000</span></b> tests <span class="brand">𝐱</span></li>
            <li>Typed <b><span id="timeElement" class="text-loader">00</span></b> hours <span class="gray">⏰</span></li>
        </ul>
    </section>
    <section id="speed">
        <h2>speed</h2>
        <ul class="badge__list">
            <li><span class="badge badge--item">QWERTY</span> <b><span id="qwerty" class="text-loader">000</span></b> wpm <span class="gray">⌨</span></li>
            <li><span class="badge badge--item">Canary</span> <b><span id="canary" class="text-loader">00</span></b> wpm <span class="gray">⌨</span></li>
        </ul>
    </section>
</section>

<style>
    hr { margin-left: 12px; }

    #specs {
        font-family: var(--body);
        padding-top: 15px;
        align-self: center;
    }

    .flex > img { padding: 0 12px; }

    @media only screen and (min-width: 600px) {
        hr { margin-left: auto; }
    }
</style>

<script>
    import { secondsToHours, millisecondsToSeconds } from "../modules/getTimeConversion";
    import getTimeString from "../modules/getTimeString";

    const getMonkeyData = async () => {
        try {
            const response = await fetch("https://api.bayrock.dev/monkeytype.json");

            if (!response.ok)
                throw new Error(`Error: ${response.status} - ${response.statusText}`);

            const lastModified = response.headers.get("Last-Modified");
            const json = await response.json();

        return {
            ...json,
            updated: lastModified ? new Date(lastModified).getTime() : Date.now()
        };
        } catch (error) {
            console.error(error);
        }
    }

    const updateData = async (data) => {
        // Get data
        const { qwerty, canary, updated } = data;
        const completedTests = qwerty.stats.completedTests + canary.stats.completedTests;
        const failedTests = (qwerty.stats.startedTests + canary.stats.startedTests) - completedTests;
        const timeTyping = Math.ceil(secondsToHours(qwerty.stats.timeTyping + canary.stats.timeTyping));
        const qwertyWPM = Math.ceil(qwerty.bests.words[10][0].wpm);
        const canaryWPM = Math.ceil(canary.bests.words[10][0].wpm);
        const lastUpdated = getTimeString(Math.ceil(millisecondsToSeconds(Date.now()) - Math.floor(millisecondsToSeconds(updated))));
        
        // Get elements
        const passedElement = document.getElementById("passedElement");
        const failedElement = document.getElementById("failedElement");
        const timeElement = document.getElementById("timeElement");
        const timestampElement = document.getElementById("timestampElement");
        const qwertyElement = document.getElementById("qwerty");
        const canaryElement = document.getElementById("canary");

        // Set data to elements
        if (passedElement) passedElement.innerHTML = completedTests;
        if (failedElement) failedElement.innerHTML = failedTests;
        if (timeElement) timeElement.innerHTML = timeTyping;
        if (timestampElement) timestampElement.innerHTML = lastUpdated;
        if (qwertyElement) qwertyElement.innerHTML = qwertyWPM;
        if (canaryElement) canaryElement.innerHTML = canaryWPM;

        // Remove loaders
        document.querySelectorAll(".text-loader").forEach((e) => {
            e.classList.remove("text-loader");
        });
    }

    const data = await getMonkeyData();
    updateData(data);
    document.addEventListener('astro:page-load', () => { updateData(data) });
</script>
