---
import Layout from './Layout.astro';
const { frontmatter, description } = Astro.props;
---
<Layout title={frontmatter.title} description={description}>
    <article>
        <h2 id="heading">{frontmatter.title}</h2>
            <slot />
        <small>
            {frontmatter.citation && <span>
                src: <a class="accent link" href={frontmatter.citation.url} target="_blank">{frontmatter.citation.name}</a>
            </span>}
            <a class="accent link right" href={frontmatter.backlink?.url || "/#home"}>{frontmatter.backlink?.name || "/home"}</a>
        </small><br>
        {frontmatter.timestamp && <small class="gray">
            updated: <span id="timestampElement">{frontmatter.timestamp}</span>
        </small>}
    </article>
</Layout>
