---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const { title, collection } = Astro.props;
const description = `bayrock's ${title.replace("/", "")}`
---
<Layout title={title} description={description}>
    <section id="list">
        <h2 id="heading">{title}</h2>
        <ul role="list" class="grid">
            {collection.map((entry) => <Card 
                url={`${title}/${entry.slug}/#heading`} 
                image={entry.data.image.url} 
                title={entry.data.title}
                desc={entry.data.description}
            />)}
        </ul>
    </section>
</Layout>
