---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
const { pageTitle, collection } = Astro.props;
---
<Layout pageTitle={pageTitle}>
    <section id="list">
        <h2>{pageTitle}</h2>
        <ul role="list" class="grid">
            {collection.map((entry) => <Card 
                url={`${pageTitle}/${entry.slug}`} 
                image={entry.data.image.url} 
                title={entry.data.title}
                desc={entry.data.description}
            />)}
        </ul>
    </section>
</Layout>
